In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
x = pd.read_csv('train.csv')
y = pd.read_csv('test.csv')

In [5]:
x_train = x['text']
y_train = x['label']

x_test = y['text']

In [6]:
x_train

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        Ever get the feeling your life circles the rou...
2        Why the Truth Might Get You Fired October 29, ...
3        Videos 15 Civilians Killed In Single US Airstr...
4        Print \nAn Iranian woman has been sentenced to...
                               ...
20795    Rapper T. I. unloaded on black celebrities who...
20796    When the Green Bay Packers lost to the Washing...
20797    The Macy’s of today grew from the union of sev...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799      David Swanson is an author, activist, journa...
Name: text, Length: 20800, dtype: object

In [7]:
y_train

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

In [8]:
x_test

0       PALO ALTO, Calif.  —   After years of scorning...
1       Russian warships ready to strike terrorists ne...
2       Videos #NoDAPL: Native American Leaders Vow to...
3       If at first you don’t succeed, try a different...
4       42 mins ago 1 Views 0 Comments 0 Likes 'For th...
                              ...
5195    Of all the dysfunctions that plague the world’...
5196    WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197    Good morning. (Want to get California Today by...
5198    « Previous - Next » 300 US Marines To Be Deplo...
5199    Perhaps you’ve seen the new TV series whose pi...
Name: text, Length: 5200, dtype: object

In [9]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_df=0.8)

tfidf_train = tfidf_vectorizer.fit_transform(x_train.values.astype('U'))
tfidf_test = tfidf_vectorizer.transform(x_test.values.astype('U'))

In [10]:
pac = PassiveAggressiveClassifier(max_iter=60)
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=60, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [11]:
y_pred = pac.predict(tfidf_test)

In [12]:
pred = pd.DataFrame()
pred['id'] = y['id']
pred['label'] = y_pred

In [13]:
pred.to_csv("prediction.csv",index=False)

In [14]:
sub_check = pd.read_csv('prediction.csv')
sub_check.head()

      id  label
0  20800      0
1  20801      1
2  20802      1
3  20803      0
4  20804      1